a:hover {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #507cd8;
}
.footer p {
    line-height: 60px;
    color: white;
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}

form > button {
    color: white !important;
}

tr:hover {
    cursor: pointer;
}

.coinFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sendCoinButton {
    color: #000;
}

.sendCoinButton:hover {
    color: #fff;
}

.wallet-table-address {
    margin-top: 10%;
}

.wallet-table-address tr,th{
    text-align: center;
}

.btn-generate-addr a {
    color: #fff;
}

.list-wallet {
    list-style: none;
    text-align: center;
}

.list-wallet li {
    border-bottom: 1px solid lightgray;
    padding: 8px;
}

.list-wallet li a {
    color: #000;
}