<!DOCTYPE html>
<html>
<% include ../header %>

<body>
    <% include ../nav %>


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-2 ml-auto">
                <a href="/exchange/user/profile/5c778509c5ec2175ecfb5384/tbtc/5c7785281a360aa403b1b5d96bdb7d75/send">Send</a>
            </div>
            <div class="col-md-2">
                <a href="/exchange/user/profile/5c778509c5ec2175ecfb5384/tbtc/5c7785281a360aa403b1b5d96bdb7d75/receive">Receive</a>
            </div>
        </div>
    </div>


    <% include ../footer %>

    <% include ../scripts %>

</body>

</html>